@import url("https://fonts.googleapis.com/css2?family=Allura&family=Fira+Sans+Extra+Condensed:wght@100&family=Staatliches&display=swap");
/*RESET-todas las etiquetas pueden recibir contenido antes o despues*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62,5%;
  /*10px de base al html, y para pasar a em 1em o 24px= 2.4em*/ }

/*GLOBALES*/
body {
  display: grid;
  min-width: 1200px;
  height: 200vh;
  background: linear-gradient(15deg, black, #0d0f0f, black);
  background-size: 400% 400%;
  position: relative;
  flex-direction: column;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-template-rows: 30vh 1fr 20vh;
  grid-template-areas: "header" "main" "footer";
  animation: back 15s ease infinite; }

ul {
  list-style-type: none; }

li a {
  text-decoration: none;
  display: flex; }

@keyframes back {
  0% {
    background-position: 0% 50%; }
  25% {
    background-position: 100% 50%; }
  50% {
    background-position: 0% 50%; } }

header .logo__img {
  border-radius: 100%;
  margin: 30px 0px 0px 30px;
  left: 5rem; }

header .titulo {
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  header .titulo__titulo {
    font-family: "Fira Sans Extra Condensed", sans-serif;
    color: white;
    font-size: 3em;
    font-weight: lighter;
    margin-bottom: -5.799rem;
    margin-left: 1rem; }
  header .titulo p {
    font-family: "Staatliches", cursive;
    color: white;
    font-size: 1.5em;
    margin-left: 2.2rem;
    transform: rotate(355deg); }

header .boton a img {
  width: 15px;
  height: 15px; }

header .botonCarrito {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 1rem;
  margin-left: 13rem;
  width: 10%;
  background-color: #242e30;
  border-radius: 5px;
  border-bottom: white;
  font-family: "Staatliches", cursive;
  color: white; }

main {
  max-width: 1200px;
  margin: 0 auto; }
  main .productos {
    font-family: "Fira Sans Extra Condensed", sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 2rem; }
  main .card {
    margin: 10px 10px 10px 10px;
    position: relative;
    background-color: #242e30;
    opacity: 80%;
    border-radius: 1rem;
    width: 18rem; }
  main .card-img, main .card-img-top {
    border-radius: 5px;
    margin-top: 0.5rem;
    height: 280px; }
  main .row {
    justify-content: center; }
  main a .btn .btn-primary {
    color: #fff;
    background-color: #0b1d24;
    border-color: #051820;
    font-family: "Staatliches", cursive; }
  main .btn-primary {
    color: #fff;
    background-color: #0b1d24 !important;
    border-color: #051820 !important;
    font-family: "Staatliches", cursive !important; }
  main h5 {
    color: #fff;
    font-family: "Staatliches", cursive; }
  main .card-text {
    color: #fff;
    font-family: "Fira Sans Extra Condensed", sans-serif; }
  main .modal-contenedor {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: .3s all ease-in-out; }
  main .modal-carrito {
    background-color: #242e30;
    width: 460px;
    height: auto;
    border-radius: 20px; }
  main .modal-container--visible {
    opacity: 1;
    visibility: visible; }
  main .modal-titulo {
    text-align: center;
    color: white;
    font-family: "Staatliches", cursive;
    margin-top: 1rem; }
  main .cerrar-carrito {
    width: 6%;
    border-radius: 13px;
    background-color: #242e30;
    font-family: "Fira Sans Extra Condensed", sans-serif;
    margin-left: 13.5rem;
    color: white; }
  main .precioProducto {
    color: white;
    text-align: center;
    font-family: "Staatliches", cursive; }
  main .productoCarrito {
    color: white;
    text-align: center;
    font-family: "Fira Sans Extra Condensed", sans-serif;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8rem; }
    main .productoCarrito p {
      margin-left: .19rem; }
  main .boton-eliminar {
    width: 15%;
    color: #242e30;
    border-bottom: #242e30;
    border-radius: 5px;
    font-family: "Staatliches", cursive;
    margin-left: auto;
    margin-right: .2rem; }
