//HEADER

header{
    

    .logo__img {
        border-radius: 100%;
        margin: 30px 0px 0px 30px;
        left: 5rem;
    }

    .titulo {
        display: flex;
        align-items: center;
        justify-content:flex-start;
        
    
        &__titulo {
          //margin: 15px 0px 0px 15px;
          font-family: $font-two;
          color: $secondary;
          font-size: 3em;
          font-weight: lighter;
          margin-bottom: -5.799rem;
          margin-left: 1rem;
          //bottom: -2rem; /*aprox 40px*/
         // left: 6rem; /*aprox 80px*/
        }
    
        p {
          font-family: $font-three;
          color: $secondary;
          font-size: 1.5em;
          margin-left: 2.2rem;
          transform: rotate(355deg);

          //left: 34rem;
          //bottom: 3.5rem;
          
        }
    }

    .boton a img{
      width: 15px;
      height: 15px;
    }

   .botonCarrito{
    @include flex(flex, center, nowrap, center);
    margin: 1rem;
    margin-left: 13rem;
    width: 10%;
    background-color: $principal;
    border-radius: 5px;
    border-bottom: $secondary;
    font-family: $font-three;
    color: white;
  }
   
}