main{
    
    max-width: 1200px;
    margin: 0 auto;
    
    .productos{
        font-family: $font-two;
        color: $secondary;
        text-align: center;
        margin-bottom: 2rem;
    }

    .card{
        margin: 10px 10px 10px 10px;
        position: relative;
        background-color: $principal;
        opacity: 80%;
        border-radius: 1rem;
        width: 18rem;
        
    }

    .card-img, .card-img-top {
        border-radius: 5px;
        margin-top: 0.5rem;
        height: 280px;
    }

    .row{
        justify-content: center;
    }

    
    a .btn .btn-primary {
        color: #fff;
        background-color: #0b1d24;
        border-color: #051820;
        font-family: $font-three;
    }
    
    .btn-primary {
        color: #fff;
        background-color: #0b1d24 !important;
        border-color: #051820 !important;
        font-family: $font-three !important;
    }

    

    h5{
        color: #fff;
        font-family: $font-three;
    }

    .card-text{
        color: #fff;
        font-family: $font-two;
    }

    .modal-contenedor {
        @include flex(flex, center, nowrap, center);
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, .3);
        overflow:auto;
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
  
        transition: .3s all ease-in-out;
        
      }
      .modal-carrito {
        background-color: $principal;
        width: 460px;
        height: auto;
        border-radius: 20px; 
      }
      
      .modal-container--visible {
        opacity: 1;
        visibility: visible;
      }
      
      .modal-titulo{
        text-align: center;
        color: white;
        font-family: $font-three;
        margin-top: 1rem;
      }
      
      .cerrar-carrito{
        width: 6%;
        border-radius: 13px;
        background-color: $principal;
        font-family: $font-two;
        margin-left: 13.5rem;
        color: white;
      }

      .precioProducto{
        color: white;
        text-align: center;
        font-family: $font-three;
      }
      .productoCarrito{
        color: white;
        text-align: center;
        font-family: $font-two;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.8rem;

        p{
            margin-left: .19rem;
        }
      }

      .boton-eliminar{
        width: 15%;
        color: $principal;
        border-bottom: $principal;
        border-radius: 5px;
        font-family: $font-three;
        margin-left: auto;
        margin-right: .2rem;
      }
}





