@media (min-width: 320px) and (max-width: 480px) {
    body{

        display: grid;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 39vh 1fr 16vh;
        grid-template-areas: 
        "header"
        "main"
        "footer";
        padding: 0;
        margin: 0 auto;

        .swal2-container.swal2-bottom, .swal2-container.swal2-center, .swal2-container.swal2-top {
            max-width: 480px !important;
            margin-left: 7rem !important;
        }

        main{

            max-width: 320px;
            margin-left: 14rem;
            
            .cards .row .row-cols-3 .row-cols-md-4{
                margin: 0 auto;
            }

            .datos{
                margin-top: 3rem;
                color: white;
            }

            .contacto{
                width: 90%;
            }

            .form{
                margin-top: 8rem;
                margin-left: -1rem;
            }
            
        }
        .footer{
            @include flex(flex, center, nowrap, center);
            width: 60%;
            margin-top: 7rem;

            .foot__img{
                border-radius: 100%;
                margin-right: 12rem;
            }

            .derechos__p{
                margin-left: -5rem;
            }

        }
        
    } 
}